<div class="nav">
    <p style="text-align: right;">
      <i class="far fa-moon fa-lg zoom" onclick="darkMode();"></i>
      <i class="fas fa-palette fa-lg zoom" onclick="changeTheme();"></i>
      <i class="fas fa-user-astronaut fa-lg zoom" onclick="saveFavorite();"></i>
      <select name="theme-control" id="theme-control">
        {% for theme in site.data.themes %}
        <option value="{{theme.name}}">{{theme.name}}</option>
        {% endfor %}
      </select>
      <br>
      <small>
      {% for theme in site.data.themes%}
      <span id="hover zoom {{theme.name}}" onmouseover="hoverTheme('{{theme.name}}');">{{theme.name}}</span>
      {% endfor %}
      {% comment %} <br>
      theme: <span id="theme">light</span> {% endcomment %}
      </small>
    </p>
  </div>


<script>
var themes = ["dark"];
</script>

{% for theme in site.data.themes %}
  {% if theme.enabled %}
    <script>
      themes.push("{{theme.name}}");
      console.log('added ' + '{{theme.name}}' + ' to themes');
    </script>
  {% endif %}
{% endfor %}

