{% if site.twitter %}
<a style="color:inherit" href="https://twitter.com/{{site.twitter}}"><i class="fab fa-twitter zoom"></i></a>
{% endif %}
{% if site.linkedin %}
<a style="color:inherit" href="https://www.linkedin.com/in/{{site.linkedin}}/"><i class="fab fa-linkedin-in zoom"></i></a>
{% endif %}
{% if site.mail %}
<a style="color:inherit" href="mailto:{{site.mail}}"><i class="fas fa-envelope zoom"></i></a>
{% endif %}
{% if site.github %}
<a style="color:inherit" href="https://github.com/{{site.github}}"><i class="fab fa-github-alt zoom"></i></a>
{% endif %}
