
body {
    background-color: transparent;
    color: black;
    font-family: 'Noto Sans', sans-serif;
}


a {
    color: hotpink;
  }

.container {
    width: 500px;
}

img {
    width: 100%;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
    /* body {
        background-color: red;
    } */

    .center {
        margin: auto;
        width: 90%;
      } 

      .nav {
        margin-right: 10px;
    }
}


@media only screen 
and (min-device-width : 768px) {
    /* body {
        background-color: blue;
    } */

    .center {
        margin: auto;
        width: 60%;
    } 

    .nav {
        margin-right: 100px;
    }
    

}


.debug {
    /* border: 1px solid red; */
}


  
.zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* Theme List */
.light{
    color: black;
    background-color: transparent;
}

.dark  {
    color: white;
    background-color: black;
}
.dragos {
    color:#d2fafb;
    background-color: #2c003e;
}

.ocean {
    color: #1b262c;
    background-color:#bbe1fa;

}

.sunset {
    background-color: #0a1d37;
    color: #ffeedb;
}

.new {
    background-color: #293B5F;
    color: #FFC074;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 10px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


  code1 {
    padding: 20px;
    font-size: .9em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    white-space: pre;
    line-height: 100%;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ececec;
    letter-spacing: -3px;
    overflow-x: auto;
    overflow-y: auto;
}