<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body onload="loadImage('/assets/img/sprites/Gnome Soldier.png');">
  <div class="nav">
  <p style="text-align: right;">
    <i class="fas fa-palette zoom tooltip" onclick="changeTheme();"></i>
    <i class="fas fa-user-astronaut zoom"></i>
    <i class="fas fa-sign-in-alt zoom"></i>
  </p>
  </div>
  <div class="center">
    <div>
      <h2>
        <p>{% include nav.html %}</p>
      </h2>
    <div>
    {{ content }}
  </div>
  {% include footer.html %}
</body>
</html>