<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body onload="checkFav();">
  <div class="nav">
  <p style="text-align: right;">
    <i class="fas fa-palette zoom tooltip" onclick="changeTheme();"></i>
    <i class="fas fa-user-astronaut zoom"></i>
    <i class="fas fa-sign-in-alt zoom"></i>
  </p>
  <p style="text-align: right;">
    <small>theme: <span id="theme-selection">plain</span></small>
  </p>
  </div>
  <div class="center">
    <div>
      <h2>
        <p>{% include nav.html %}</p>
      </h2>
    <div>
    {{ content }}
  </div>
</body>
</html>