<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="center debug">
    <div>
      {% include controls.html %}
      <p style="font-size: 20px;">
        Home / <a href="/blog">Blog</a>
      </p>
      <small style="opacity: 0.5;">note: jek is currently in alpha release, things will break. When in doubt, click clear settings. If you encounter an bug, create an <a href="https://github.com/tcbutler320/jek/issues">issue</a></small>
    <div>
    {{ content }}
  </div>
  {% if site.edit-date %}
    <p style="text-align: right;">
      <small>last edited</small>
    </p>
  {% endif %}
    {% include footer.html %}
</body>
</html>