<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div class="center debug">
    <div>
      {% include controls.html %}
      <p style="font-size: 20px;">
        {% if page.layout == 'home' %}<b>{% endif %}<a href="/">Home</a>{% if page.layout == 'home' %}</b>{% endif %} / {% if page.layout == 'blog' %}</b>{% endif %} <a href="/blog">Blog</a> {% if page.layout == 'blog' %}</b>{% endif %} {% if site.contact %} {% if page.layout == 'contact' %}<b>{% endif %}  / <a href="/contact">Contact</a>{% if page.layout == 'contact' %}</b>{% endif %} {% endif %}
      </p>
    <div>
    {{ content }}
  </div>
  {% if site.edit-date %}
    <p style="text-align: right;">
      <small>last edited</small>
    </p>
  {% endif %}
    {% include footer.html %}
</body>
</html>