<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <div id="myBar" class="sticky-top progress-bar"></div>
  {% include sidebar.html %}
  <div class="center">
    <div>
      {% include controls.html %}
      <p style="font-size: 20px;">
        <a href="/">Home</a> / <a href="/blog">Blog</a> / <b>{{page.title}}</b>
      </p>
      <p style="text-align:left;">
        <i>{{page.author}}, {{page.date | date: '%B %d %Y'}} {% include share_table.html %}</i></p>
    <div>
    {{ content }}
  </div>
  {% include footer.html %}
  <script>
  window.addEventListener('scroll', (event) => {
    myFunction();
  });
  </script>
  <!-- <script>
  function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
  </script> -->
  <script>
    var keys = {};
window.addEventListener("keydown",
    function(e){
        keys[e.keyCode] = true;
        switch(e.keyCode){
            case 37: case 39: case 38:  case 40: // Arrow keys
            case 32: e.preventDefault(); break; // Space
            default: break; // do not block other keys
        }
    },
false);
window.addEventListener('keyup',
    function(e){
        keys[e.keyCode] = false;
    },
false);
  </script>
</body>
</html>

