<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<div class="sticky-top progress-bar" id="myBar"></div>
  {% include sidebar.html %}
  <div class="center">
    <div>
      {% include controls.html %}
      <p style="font-size: 20px;">
        <a href="/">Home</a> / <a href="/blog">Blog</a> / {{page.title}}
      </p>
      <p style="text-align:left;">
        <i>{{page.author}}, {{page.date | date: '%B %d %Y'}}</i>
      </p>
    <div>
    {{ content }}
  </div>
  {% include footer.html %}
  <script>
  window.addEventListener('scroll', (event) => {
    myFunction();
  });
  </script>
  <script>
  function myFunction() {
    var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
    var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
    var scrolled = (winScroll / height) * 100;
    document.getElementById("myBar").style.width = scrolled + "%";
  }
  </script>
</body>
</html>